@font-face {
font-family: "abril-font";
src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

.text-color {
    color: #97010E;
}
.text-i {
    font-size: 600%;
    font-family: "Castoro Titling", serif;
	display: inline;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
	padding: 0 10px 0 0;
	color: #394C60;
	line-height: 14px;
	border-radius: 30px;
}
.text-f{
    color: #97010E;
    font-size: 200%;
    font-family: "Castoro Titling", serif;
	display: inline;
	padding: 0 10px 0 0;
	color: #6E7F91;
	line-height: 70px;
	border-radius: 30px;
}
}
.navbar{
 background:#a0302d;
}
.nav-link , .navbar-brand{
 color: #818181;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #EFECE7;
 color: #6E7F91;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.test_form{
font-family: "Castoro Titling", serif; ;
background: #6E7F91;
border-radius: 10px;
font-size: 400%;
padding-left: 50px;
list-style: none;
}

.header{
 background-color: #CDCAC5;
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
center {
  top: 50%; /* Отступ в процентах от верхнего края окна */
  left: 50%; /* Отступ в процентах от левого края окна */
  width: 450px; /* Ширина блока */
  height: 450px; /* Высота блока */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -225px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}

.hidden {
display: none;
}
.img {
      width:650px;
      padding:5px;
      border:12px black;
      border-radius: 10px;
      background-color: #818181;
}
.c-button {
  align: center;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #394C60;
  color: #818181    ;
  padding: 8px 16px;
  font-size: 16px;
  transition: 0.2s all ease;
}
.b-button{
  align: center;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #394C60;
  color: #818181    ;
  padding: 35px 200px;
  font-size: 35px;
  transition: 0.2s all ease;
}
.a-button{
  align: center;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #818181;
  color: #394C60    ;
  padding: 8px 16px;
  font-size: 16px;
  transition: 0.2s all ease;
}
.a-button:hover {
     background: #CDCAC5;
     transform: rotateX(30deg);
}
.c-button:hover {
     background: #CDCAC5;
     transform: rotateX(30deg);
}
.b-button:hover {
     color: #394C60;
     background: #CDCAC5;
     transform: rotateX(30deg);
}
body {
  font-family: PT Astra Sans;
   background-color: #818181;
   }
.footer {
  background-color: #394C60;
   position: fixed;
   right: 0;
   bottom: 0;
   text-align: center;
   width: 99%;
   font-size: 19px;
    font-weight: bold;
    color: #6E7F91;
 }