.text-color {
    color: #97010E;
}

@font-face {
	font-family: 'abril';
	src: url(/fonts/AbrilFatface-Regular.ttf);
}
.navbar{
 background:#a0302d;
}
.nav-link , .navbar-brand{
 color: #818181;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #932D30;
 color: #818181;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.test_form{
background: #932D30;
border-radius: 10px;
}

.header{
 background-image: url('../img/headerback.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
center {
  top: 50%; /* Отступ в процентах от верхнего края окна */
  left: 50%; /* Отступ в процентах от левого края окна */
  width: 450px; /* Ширина блока */
  height: 450px; /* Высота блока */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -225px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}

.hidden {
display: none;
}
.img {
      width:650px;
      padding:5px;
      border:12px black;
      border-radius: 10px;
      background-color: #818181;
}
.c-button {
  align: center;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #932D30;
  color: #818181;
  padding: 8px 16px;
  font-size: 16px;
  transition: 0.2s all ease;
}

.c-button:hover {
     background: red;
     transform: rotateX(30deg);
}
