{% extends "base.html" %}

{% block content %}
<div class="description text-center">
    <h3><font color="#000000">GuessTheMovie - сайт-игра, на нем Вы сможете в формате игры понять,
        насколько Вы киноман.
        Игра имеет несколько раундов: угадать фильм по кадрам,
        угадать фильм по саундреку и угадать фильм по локации.</font></h3>
</div>
<div style="
display: flex;
justify-content: space-between;
width: 600px;
">
    <a href="{{ url_for('soundtrack') }}"> Угадать по саундтреку </a>
    <a href="{{ url_for('frames') }}">Угадать по кадрам</a>
    <a href="{{ url_for('location') }}"> Угадать по локации</a>

</div>

{% for item in news%}

<h2>{{item.title}}</h2>
<div>
    {{item.content}}
</div>
<div>
    Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
</div>

{% endfor %}
{% endblock %}
