{% extends "base.html" %}

{% block content %}

<div class="description text-center center">
    <p> - </p>
    <p> - </p>
    <p> - </p>
    <p> - </p>
    <h3><font color="#818181">GUESS THE MOVIE - the site is a game,
        on it you will be able to understand in the format of a game how much you are a movie fan.
        The game has several rounds: guess the movie by frames,
        guess the movie by soundtrack and guess the movie by location.
    </font></h3>
</div>
<div style="
display: flex;
justify-content: space-between;
width: 600px;
">
    <a href="{{ url_for('soundtrack') }}"> Угадать по саундтреку </a>
    <a href="{{ url_for('frames') }}">Угадать по кадрам</a>
    <a href="{{ url_for('location') }}"> Угадать по локации</a>

</div>
{% endblock %}
