{% extends "base.html" %}

{% block content %}
<div>
    <br>
    <br>
    <br>
    <br>
    <p class="test_form text-name">CHOOSE A ROUND</p>
    <br>
    <br>
    <br>
    <br>
    <div class="buttons-container">
            <p><a href="{{url_for('frames')}}" class="b-button center"><b>GUESS BY FRAMES</b></a></p>
            <p><a href="{{url_for('soundtrack')}}" class="b-button center"><b>GUESS BY SOUNDTRACK</b></a></p>
    </div>

    <br>
    <br>

    <br>
    <p class="text-f center"><b>you will be able to play only if you have registered on the site</b></p>
    <br>
    <br>
    <br>
    <br>

</div>
{% endblock %}
