
{% extends "base.html" %}

{% block content %}
<div>
    <p>-</p>
    <p>-</p>
    <p class="test_form center text-i">CHOOSE A ROUND</p>
    <p>-</p>
    <p>-</p>
    <p ><a href="{{url_for('frames')}}" class="b-button center text-f">guess by frames</a></p>
    <p>-</p>
    <p>-</p>
    <p><a href="{{url_for('soundtrack')}}" class="b-button center text-f">guess by soundtrack</a></p>
    <p>-</p>
    <p>-</p>
    <p class="text-f center">you will be able to play only if you have registered on the site</p>
</div>
{% endblock %}
